# Task 6.7 Creating Data Dashboards

In [1]:
# Import libraries
import pandas as pd
# I'm trying modin as a drop-in replace-- er, enhancement to pandas; supposedly it will help use more than one CPU core.
# Nope.  I'm having too much trouble getting modin installed, so it's back to plain old Pandas for now. :-(
# import modin.pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Import Quandl library for Task 6.6.
import quandl

In [3]:
# Import additional things that are suggested/required for Task 6.6.

# TO-DO:  Learn why (or if) it makes sense to import both a library and individual library modules separately.
import matplotlib

# Using .api imports the public access version of statsmodels, which is a library that handles statistical models.
import statsmodels.api as sm

import warnings # This is a library that handles warnings.

# Disable deprecation warnings that could indicate, for instance, a suspended library or 
# feature. "These are more relevant to developers and very seldom to analysts." [Really?]
warnings.filterwarnings("ignore")

# This is a styling option for how your plots will appear. More examples here:
# https://matplotlib.org/3.2.1/tutorials/introductory/customizing.html
# https://matplotlib.org/3.1.0/gallery/style_sheets/fivethirtyeight.html
plt.style.use('fivethirtyeight')

In [4]:
# Import scikit-learn library and select modules for Task 6.4 (see more imports for Task 6.5, next).
import sklearn
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [5]:
# Import additional modules 'KMeans' and 'pylab' - from the libraries 'scikit-learn' and 'matplotlib', respectively - for Task 6.5
from sklearn.cluster import KMeans # Here is where you import the k-means algorithm from scikit-learn.
import pylab as pl # PyLab is a convenience module that bulk imports matplotlib.
# (Note to self:  learn more about Python imports, particularly why we don't say, "import matplotlib.pylab as pl" or "from matplotlib import pylab ...")

In [6]:
# Import folium and JSON libraries for Task 6.3.
import folium
import json

In [7]:
# For future reference, Exercise 6.2 introduced graphical libraries Bokeh and Plotly.
# import bokeh
# import plotly

In [8]:
# Starting with Exercise 4.7, import additional libraries I've discovered thanks to Lubov, especially the time library.
import time
import string
import random

In [9]:
# Import itertools to help loop through lots of things.
import itertools

In [10]:
# I want to convert Date-Timestamps into UNIX Epoch time for analysis.
from datetime import datetime

In [11]:
# Set a PATH variable.

In [12]:
# Linux PATH, local - Sadly, my Linux system with 8GB of total RAM could not import the full dataset.
# I have moved to an AWS EC2 instance that should be able to handle this.

In [13]:
## path = (r'~/careerfoundry/tasks/data-immersion/Achievement6/Project/02-Data/Original-Data/US-Weather-Events.2016-2021/www.kaggle.com/datasets/sobhanmoosavi/us-weather-events')

### # Oh, wow, matplotlib.pyplot.savefig function does not expand the tilde (~) reference in directory paths.  LAME. :(

In [14]:
path = (r'/home/ubuntu/careerfoundry/tasks/data-immersion/Achievement6/Project/')

In [15]:
# windoze PATH - The windoze laptop I bought for Excel and Tableau also has 16GB of RAM.

In [16]:
## path = (r'C:\Users\emccc\OneDrive\Documents\CareerFoundry\Achievement-4\Instacart-Basket-Analysis')

In [17]:
# This command propts matplotlib visuals to appear in the notebook.
# This option ensures that the graphs you create are displayed within the notebook without the need to "call" them specifically.

%matplotlib inline

## Load and check our updated dataframe for Texas weather from Task 6.3.

In [18]:
df = pd.read_pickle(os.path.join(path, '02-Data','Prepared-Data', 'df_texas.Task-6.3.pkl'))

In [19]:
df.shape

(515813, 34)

In [20]:
df.columns

Index(['EventId', 'Type', 'Severity', 'StartTime(UTC)', 'EndTime(UTC)',
       'Precipitation(in)', 'TimeZone', 'AirportCode', 'LocationLat',
       'LocationLng', 'County', 'State', 'StartTime(Epoch)', 'EndTime(Epoch)',
       'Duration(seconds)', 'Duration(hours)',
       'PrecipitationRate(inches/hour)', 'Disbelievable', 'Region',
       'StartYear', 'StartYear-Month', 'Snow(in)', 'Rain(in)', 'StartMonth',
       'Rain-sum-AC-SY-M', 'Rain-sum-AC-SY', 'Snow-sum-AC-SY-M',
       'Snow-sum-AC-SY', 'CO-Num-AC', 'Rain-sumavg-CO-SY-M',
       'Rain-sumavg-CO-SY', 'Snow-sumavg-CO-SY-M', 'Snow-sumavg-CO-SY',
       'GeoJSONCounty'],
      dtype='object')

## Our data has already been cleaned, wrangled, and sanity-checked in previous Tasks.

# Save current dataframe to a CSV file for import - possibly via Excel - into Tableau.

In [21]:
df.to_csv(os.path.join(path, '02-Data','Prepared-Data', 'df_texas.Task-6.3.csv'))

# Tableau on windoze seems to choke on this much data.  We should whittle it down.

In [22]:
df.shape

(515813, 34)

In [23]:
df_tableau = df[['LocationLat', \
       'LocationLng', 'StartTime(Epoch)', 'StartYear', 'StartYear-Month', 'StartMonth', 'Rain-sumavg-CO-SY-M', \
       'Rain-sumavg-CO-SY', 'Snow-sumavg-CO-SY-M', 'Snow-sumavg-CO-SY', \
       'GeoJSONCounty']]

In [24]:
df_tableau.shape

(515813, 11)

In [25]:
df.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 515813 entries, 136752 to 7364022
Data columns (total 34 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   EventId                         515813 non-null  object
 1   Type                            515813 non-null  object
 2   Severity                        515813 non-null  object
 3   StartTime(UTC)                  515813 non-null  datetime64[ns]
 4   EndTime(UTC)                    515813 non-null  object
 5   Precipitation(in)               515813 non-null  float64
 6   TimeZone                        515813 non-null  object
 7   AirportCode                     515813 non-null  object
 8   LocationLat                     515813 non-null  float64
 9   LocationLng                     515813 non-null  float64
 10  County                          515813 non-null  object
 11  State                           515813 non-null  object
 12  StartTime(Epoch)                515813 non-null  int64
 13  EndTime(Epoch)                  515813 non-null  int64
 14  Duration(seconds)               515813 non-null  int64
 15  Duration(hours)                 515813 non-null  float64
 16  PrecipitationRate(inches/hour)  515813 non-null  float64
 17  Disbelievable                   515813 non-null  object
 18  Region                          515813 non-null  object
 19  StartYear                       515813 non-null  int64
 20  StartYear-Month                 515813 non-null  int64
 21  Snow(in)                        515813 non-null  float64
 22  Rain(in)                        515813 non-null  float64
 23  StartMonth                      515813 non-null  int64
 24  Rain-sum-AC-SY-M                515813 non-null  float64
 25  Rain-sum-AC-SY                  515813 non-null  float64
 26  Snow-sum-AC-SY-M                515813 non-null  float64
 27  Snow-sum-AC-SY                  515813 non-null  float64
 28  CO-Num-AC                       515813 non-null  int64
 29  Rain-sumavg-CO-SY-M             515813 non-null  float64
 30  Rain-sumavg-CO-SY               515813 non-null  float64
 31  Snow-sumavg-CO-SY-M             515813 non-null  float64
 32  Snow-sumavg-CO-SY               515813 non-null  float64
 33  GeoJSONCounty                   515813 non-null  object
dtypes: datetime64[ns](1), float64(15), int64(7), object(11)
memory usage: 443.4 MB

In [26]:
df_tableau.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 515813 entries, 136752 to 7364022
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   LocationLat          515813 non-null  float64
 1   LocationLng          515813 non-null  float64
 2   StartTime(Epoch)     515813 non-null  int64
 3   StartYear            515813 non-null  int64
 4   StartYear-Month      515813 non-null  int64
 5   StartMonth           515813 non-null  int64
 6   Rain-sumavg-CO-SY-M  515813 non-null  float64
 7   Rain-sumavg-CO-SY    515813 non-null  float64
 8   Snow-sumavg-CO-SY-M  515813 non-null  float64
 9   Snow-sumavg-CO-SY    515813 non-null  float64
 10  GeoJSONCounty        515813 non-null  object
dtypes: float64(6), int64(4), object(1)
memory usage: 78.1 MB

In [27]:
# Good, we've reduced the memory footprint by 82%.

In [28]:
# Rename the 'GeoJSONCounty' column to match the field used in the GeoJSON file.
# I think this will make it easier for Tableau to connect the CSV and GeoJSON files.

In [29]:
df_tableau.rename(columns = {'GeoJSONCounty' : 'NAMELSADCO'}, inplace = True)

In [30]:
df_tableau.head()

,LocationLat,LocationLng,StartTime(Epoch),StartYear,StartYear-Month,StartMonth,Rain-sumavg-CO-SY-M,Rain-sumavg-CO-SY,Snow-sumavg-CO-SY-M,Snow-sumavg-CO-SY,NAMELSADCO
136752,31.8111,-106.3758,1451997600,2016,201601,1,0.25,10.565,0.0,0.055,El Paso County
136753,31.8111,-106.3758,1452019500,2016,201601,1,0.25,10.565,0.0,0.055,El Paso County
136754,31.8111,-106.3758,1452085800,2016,201601,1,0.25,10.565,0.0,0.055,El Paso County
136755,31.8111,-106.3758,1452093900,2016,201601,1,0.25,10.565,0.0,0.055,El Paso County
136756,31.8111,-106.3758,1452095040,2016,201601,1,0.25,10.565,0.0,0.055,El Paso County

# Save smaller dataframe to a CSV file for import - possibly via Excel - into Tableau.

In [31]:
df_tableau.to_csv(os.path.join(path, '02-Data','Prepared-Data', 'df_texas_tableau.Task-6.7.csv'))

## Load and check our k-means dataframe from Task 6.5.  We want Tableau to make some scatterplots from it.

In [35]:
df_k_means = pd.read_pickle(os.path.join(path, '02-Data','Prepared-Data', 'df_k_means.Task-6.5.pkl'))

In [36]:
df_k_means.shape

(515813, 8)

In [37]:
df_k_means.columns

Index(['LocationLat', 'LocationLng', 'StartTime(Epoch)', 'EndTime(Epoch)',
       'Rain-sumavg-CO-SY', 'Snow-sumavg-CO-SY', 'clusters-3', 'cluster'],
      dtype='object')

In [38]:
df_k_means.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 515813 entries, 136752 to 7364022
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   LocationLat        515813 non-null  float64
 1   LocationLng        515813 non-null  float64
 2   StartTime(Epoch)   515813 non-null  float64
 3   EndTime(Epoch)     515813 non-null  float64
 4   Rain-sumavg-CO-SY  515813 non-null  float64
 5   Snow-sumavg-CO-SY  515813 non-null  float64
 6   clusters-3         515813 non-null  int32
 7   cluster            515813 non-null  object
dtypes: float64(6), int32(1), object(1)
memory usage: 61.4 MB

## Save df_k_means to a .CSV file for Tableau to use.

In [39]:
df_k_means.to_csv(os.path.join(path, '02-Data','Prepared-Data', 'df_k_means.Task-6.7.csv'))